<% if (SV.Store.currentUser) { %>
	<table class="table">
	<% favorite_tracks.each(function(track) { %>
		<tr>
			<td data-id="<%= track.escape("id") %>">
				<a id="unfavorite" class="btn">
					<i class="icon-remove"></i>
				</a>
				<a id="new-station" class="btn">
					Create Station
					<i class="icon-headphones"></i>
				</a>

				<%= track.escape("title") %>
			</td>
		</tr>
	<% }); %>
	</table>
<% } else { %>
	<h4>
		<a class="signup btn btn-large btn-custom">Sign Up</a> / 
		<a class="signin btn btn-large btn-custom">Sign In</a>
		to Save Favorites and Make Stations
	</h4>
<% } %>
