<div id="navbar"></div>
<div id="content"></div>
<div id="main-modal" class="modal hide fade sign wide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
	</div>
</div>

<script>
	$(function() {
		
		var radioStationsData = <%= @radio_stations_json %>,
			currentUserData = <%= @current_user_json %>,
			$navbar = $("#navbar"),
			$content = $("#content"),
			$modal = $("#main-modal");
		
		window.SV.init(
			$navbar,
			$content,
			$modal,
			radioStationsData,
			currentUserData
		);
	});
</script>