<div id="navbar"></div>
<div id="content"></div>

<script>
	$(function() {
		var radioStationsData = <%= @radio_stations.to_json.html_safe %>;
		var $navbar = $("#navbar");
		var $content = $("#content");
		
		window.SV.init(
			$navbar,
			$content,
			radioStationsData
		);
	});
</script>