<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner center">
		 <div class="container">
			<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			</button>

			<a id="logo" class="brand">SoundVillage</a>

			<div class="nav-collapse collapse">
			    <ul class="nav" id="navvy">
					<li id='radio' class="#">
						<a>Radio</a>
					</li>
				    <li class="divider-vertical"></li>
			
					<li id='favorites' class="#">
						<a>Favorites</a>
					</li>
				    <li class="divider-vertical"></li>

			
					<% if (!SV.Store.currentUser) { %>
						<li id="signin" class="# signin">
							<a>Sign In</a>
						</li> 
					<% } else { %>
						<li id="signout" class="#">
							<a>Sign Out</a>
						</li>
						
					    <li class="divider-vertical"></li>
						<% if (!SV.Store.currentUser.get("provider")) { %>
							<li id='connect-fb' class="#">
								<a>
									<img src="<%= SV.assets.imageUrl('facebook-connect.png') %>" alt="Connect with Facebook">
								</a>
							</li>
						<% } %>
					<% } %>
				</ul>
			</div>
			<a class="pull-right" target="_blank" id="sc-pow" href="http://www.soundcloud.com">
				<img src="<%= SV.assets.imageUrl('powered_by_sc_white.png') %>">
			</a>
		</div>
	</div>
</div>

<div id="sign-in-modal" class="modal hide fade sign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Sign In</h3>
		<div class="modal-alert"></div>
	  </div>
	<div class="modal-body">
		<div id="si-alert"></div>
		<input type="email" id="email" placeholder="email"><br>
		<input type="password" id="password" placeholder="password"><br>
		<label class="checkbox-label">Remember Me
			<input id="remember-me" name="user[remember_me]" type="checkbox" value="1" checked="true">
		</label><br><br>
		<button class="btn" id="commit-signin">Sign In</button>
		<div class="pull-right">
			<h4>new user?</h4>
			<a id="signup" class="btn">Sign Up Form</a>
		</div>
	</div>
</div>
<div id="sign-up-modal" class="modal hide fade sign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Please Sign Up with Username and Password</h3>
	  </div>
	<div class="modal-body">
		<div id="su-alert"></div>
		<input type="email" id="su-email" placeholder="email"><br>
		<input type="password" id="su-password" placeholder="password">
		<input type="password" id="su-password-confirm" placeholder="confirm password"><br>
		<button class="btn" id="commit-signup">Sign Up</button>
		<div class="pull-right">
			<h4>already Signed up?</h4>
			<a class="signin btn">Sign In</a>
		</div>
	</div>
</div>

<!-- new station modal -->
<div id="new-station-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">Create Your Station</h3>
     </div>
	<div class="modal-body"></div>
</div>
