<div class="navbar navbar-fixed-top">
  <div class="navbar-inner center">
	   <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		   <span class="icon-bar"></span>
		   <span class="icon-bar"></span>
		   <span class="icon-bar"></span>
	   </button>
	   <a class="brand logo" href="#">SoundVillage</a>
	   
	   <div class="nav-collapse collapse">
		    <ul class="nav" id="navvy">
				<li id='home' class="active">
					<a href='#home'>Home</a>
				</li>
			    <li class="divider-vertical"></li>
				
				<li id='radio' class="#">
					<a href='#radio'>Radio</a>
				</li>
			    <li class="divider-vertical"></li>
				
				<li id='friends' class="#">
					<a href='#friends'>Friends</a>
				</li>
			</ul>
		</div>
	</div>
</div>