@import "bootstrap";

.navbar-inner  {
	a {
		font-size: x-large;
	}	
}

.container {
    background: url(dust.png) repeat 0 0;
	padding: 50px;
	height: 800px;
	margin: 0 0 100px 100px;
}

body {
	background: url(black.jpg);
	margin-top: 50px;
}