@import "bootstrap";

.navbar-inner  {
	a {
		font-size: x-large;
	}	
}

#canvas-bg {
	background: #000000;
	opacity: .4;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px 15px 15px 15px;
	clear: both;
}

#comments {
	background: #000000;
	opacity: .9;
	font-size: large;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	height:200px;
}

#artwork {
	margin-left: 20px;
	margin-bottom: 10px;
}

#loading {
	position: absolute;
	left:300px;
	top:180px;
}

.container {
    background: url(dust.png) repeat 0 0;
	padding: 50px;
	height: 800px;
	margin: 0 0 100px 100px;
}

body {
	background: url(black.jpg);
	margin-top: 50px;
}

br {
	clear: both;
}