<!-- Station Index -->
<button class="btn btn-custom btn-large pull-right" id="new-station-index">Make a new Station</button>

<input type="text" id="filter" placeholder="search">
<h3>Public Stations</h3>
<div id="stations" class="clearfix">
	<% stations.each(function(station) { %>
		<a href="#station/<%= station.escape("id") %>">
				<% var artworkSRC = station.escape('image_url') || SV.assets.imageUrl('station-default-image.png'); %>
				<div id="station-<%= station.escape("id") %>" class="radio-station" style="background-image: url('<%= artworkSRC %>'); background-size: 100%;">
					<p>
						<%= station.escape("name") %>
					</p>
				</div>
		</a>
	<% }); %>
	<br>
</div>