<h1>Start Entering Tags to Generate your Station</h1>

<iframe id="sc-widget" width="800" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>

<button class="btn btn-large" id="new-station">Make a new Station</button><br><br>
<input id="station-name" type="text" placeholder="station name">
<input id="radio-station-tag" class="radio-station-tag" type="text" placeholder="tag">