<input id="station-name" type="text" placeholder="station name"> 
<label>
	<input id="station-tag" type="text" placeholder="tags">
	<h4>enter multiple tags by pressing enter, then adding another</h4>
</label>
	<div href="#" class="checkbox-label" data-toggle="tooltip" title="This Station's Tags will Evolve with your listening tendencies">
		Evolving Station? 
	</div>
	<input id="editable" type="checkbox">
<br>

<button class="btn pull-right" id="commit">Create New Station</button>
