<h3>Create your Custom Station</h3>
<input id="station-name" type="text" placeholder="station name"> 
<br>
<input id="station-genre" type="text" placeholder="genre (optional)"> 
<br>
<label>enter multiple tags by pressing enter, then adding another
	<input id="station-tag" type="text" placeholder="tags">
</label>
<button class="btn" id="commit">Create New Station</button>
