<input id="station-name" type="text" placeholder="station name"> 
<br>
<input id="station-genre" type="text" placeholder="genre (optional)"> 
<br>
<label>
	<div href="#" data-toggle="tooltip" title="This Station's Tags will Evolve with your listening tendencies">
		Evolving Station?
	</div>
	<input id="editable" type="checkbox"> 
</label>
<br>
<label>enter multiple tags by pressing enter, then adding another
	<input id="station-tag" type="text" placeholder="tags">
</label>
<button class="btn" id="commit">Create New Station</button>
