<button class="btn btn-custom btn-large pull-right" id="new-station">Make a new Station</button>

<div class="pull-right" id="loading"></div>

<div id="radio-header">
	<h4 class="pull-left">Now listening to</h4>
	<h4 id="now-listening" class="pull-left span6"><%= station.escape("name") %></h4>
	<br>

	<div id="waveform-container" class="span7">
		<canvas class="pull-left" id="canvas" height="80" width="500"></canvas>
		<div class="pull-left" id="volume"></div>
		
		<br>
		<div id="buttons">
			<a class="btn btn-custom disabled" id="play">
				<i class='icon-play'></i>
			</a>
			<a class="btn btn-custom disabled" id="skip">
				<i class="icon-chevron-right"></i>
			</a>
		</div>
	</div>
	
	<div id="tags" class="tags pull-right span4">
		<ul class="unstyled inline">
			<% station.get("tags").each(function(tag) { %>
				<li class="btn disabled tag"><%= tag.escape("name") %></li>
			<% }) %>
		</ul>
	</div>
	<br>
</div>

<div id="radio-inner">
	<div class="pull-right">
		<img id='artwork' class='img-polaroid' alt='sound artwork'></img>
	</div>

	<div class="pull-left span6" id="description"></div><br>

	<div class="hidden-phone pull-right span4" id="comments"></div>
</div>
