<div id="tags" class="tags pull-right span3">
	<% if (tags) { %>
	<ul class="unstyled inline">
		<% tags.each(function(tag) { %>
			<li class="btn tag"><%= tag.escape("name") %></li>
		<% }) %>
	</ul>
	<% } %>
</div>